nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & .nav__menu {
        display: flex;
        & a{
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            &:hover{
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.088);
            }
        }
    }
    & .nav__img {
        width: 130px;
    }
}
.section {
    display: block;
    position: absolute;
    width: 200px;
    background-color: aqua;
    height: 400px;
}


.icono:hover {
    color: red;
}
.icono:hover .section{
    display: block !important;
    background-color: red;
}

